*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:monospace, 'Times New Roman';
    line-height: 1.2;
    color: #333;
}

.main-grid {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr/1fr 5fr;

}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #f4f8f8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Pushes left and right groups apart */
}

.cta-buttons {
    a {
        padding: 8px 16px;
        text-decoration: none;
        width: 80px;
        height: 50px;
        margin-left: 8px;
        background-color: #078dba;
        font-weight: bold;
        color: #fff;
        border-radius: 20px;
    }

    a:hover {
        background-color: #035d64;
    }

    a:active {
        background-color: #56c4cc;
    }

    gap: 8px;
    margin-right: 16px;
}

.user-greeting {
    display: grid;
    grid-template-columns: 1fr 3fr;


    p {
        grid-column: 2 / 3;
        align-self: center;
        grid-row: 1 / 2;
        align-self: end;
    }

    h2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
    }
}

.avatar-cropper {

    width: 65px;
    height: 65px;
    aspect-ratio: 1 / 1;
    height: auto;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    border-radius: 50%;
    grid-row: 1 / 3;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#search-bar {
    color: #fff;
    background-color: #8f9292;
    height: 46px;
    border-radius: 48px;
    border: 0.5px solid rgb(213, 210, 210);
    width: 100%;
    padding-right: 40px;
    padding-left: 10px;
}

.search-bar {

    width: 50%;
    /* height: 50px; */
    display: flex;
    align-items: center;


}

.header-icon-wrapper {
    width: 24px;
    height: 24px;
    margin: 0 16px;
    flex: 0 0 24px;

    img {
        width: 100%;
        height: 100%;
    }
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;

    .avatar-sm {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #078dba;

    /* display: grid;
    grid-template-rows: 2fr 6fr 3fr 3fr; */
    p {
        color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 12px;

        img {

            width: 35px;
            height: 35px;
            flex-shrink: 0;
            filter: invert(1);
        }
    }
}

#dashboard {
    margin: 24px 12px;

}

ul {
    color: #fff;
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    margin: 32px 0px;

    li a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 24px;
        text-decoration: none;
        color: #fff;
        transition: transform 0.2s ease;
    }

    li a:hover {
        /* background-color: #56c4cc; */
        transform: scale(1.05);
    }

    li a img {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        filter: invert(1);
    }
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #dcdfe0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 16px;
}

.projects-section {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 5fr 5fr 5fr;
    gap: 16px;
    margin-right: 16px;
}

.project-header {
    grid-column: 1 / 3;
    /* background-color: #dd7119;
   */
}

.project-card {
    position: relative;
    background-color: #fbfbfb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;

    border-left: solid 8px rgb(250, 160, 26);
    padding: 32px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

.project-card h3 {
    margin: 0;
}

.project-desc {
    margin: 0;
    line-clamp: 6;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.action-buttons {
    position: absolute;
    bottom: 12px;
    right: 32px;
    display: flex;
    gap: 8px;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 0;

    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    color: #151515;
    transition: background-color 0.2s, color 0.2s;
}

.action-btn:hover {
    background-color: #ef9e5b;
    color: #232323;
}

.action-btn svg {
    width: 16px;
    height: 16px;
}

.side-section {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements-card {
    grid-row: 1 / 2;
    /* background-color: #e9b416;
    border: 1px solid #5d2e07; */
    display: grid;
    row-gap: 16px;
    grid-template-rows: 50px 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    background-color: #faf8f8;
}

.announcement-item {
    align-self: stretch;
    font-size: .8rem;
    /* border: 1px solid #5d2e07; */
    padding: 8px 16px;

}

.announcement-item:not(:last-child) {
    border-bottom: 1px solid #cac8c8;
}



.announcement-desc {
    margin: 0;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trending-card {
    grid-row: 2 / 3;
    /* background-color: #f0e4bf;
    border: 1px solid #5d2e07; */
    display: grid;
    grid-template-rows: 50px 1fr;

    /* grid-template-columns: 1fr 4fr; */
}


.temp {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #f6f5f2;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.trending-item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;

    /* border: 1px solid #5d2e07; */
    h5 {
        align-self: end;
        margin-left: 16px;
    }

    p {
        align-self: start;
        margin-left: 16px;
    }

}

.image-cropper {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 70%;
    aspect-ratio: 1 / 1;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}


.image-cropper img {

    height: 100%;
    width: 100%;
    object-fit: cover;
}

h2 {
    align-self: center;
}