*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-grid {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr/1fr 5fr;

}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #86bedf;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #078dba;
    display: grid;
    grid-template-rows: 2fr 6fr 3fr 3fr;
    p{
        color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 12px;
        img {
            width: 35px;
            height: 35px;
            flex-shrink: 0;
            filter: invert(1);
        }
    }
}

ul {
    color: #fff;
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 4px;


    li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 12px;
    }

    li img {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        filter: invert(1);
    }
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #dcdfe0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 16px;
}

.projects-section {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 5fr 5fr 5fr;
    gap: 16px;
    margin-right: 16px;
}

.project-header {
    grid-column: 1 / 3;
    /* background-color: #dd7119;
   */
}

.project-card {
    position: relative;
    background-color: #fbfbfb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;

    border-left: solid 8px rgb(250, 160, 26);
    padding: 32px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

.project-card h3 {
    margin: 0;
}

.project-desc {
    margin: 0;
    line-clamp: 6;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.action-buttons {
    position: absolute;
    bottom: 12px;
    right: 32px;
    display: flex;
    gap: 8px;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 0;

    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    color: #151515;
    transition: background-color 0.2s, color 0.2s;
}

.action-btn:hover {
    background-color: #ef9e5b;
    color: #232323;
}

.action-btn svg {
    width: 16px;
    height: 16px;
}

.side-section {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements-card {
    grid-row: 1 / 2;
    /* background-color: #e9b416;
    border: 1px solid #5d2e07; */
    display: grid;
    grid-template-rows: 50px 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    background-color: #faf8f8;
}

.announcement-item {
    align-self: center;
    font-size: .8rem;
    /* border: 1px solid #5d2e07; */
    padding: 16px;

}

.announcement-header {
    /* padding-top: 16px;
    margin-bottom: 32px; */
}

.announcement-desc {
    margin: 0;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trending-card {
    grid-row: 2 / 3;
    /* background-color: #f0e4bf;
    border: 1px solid #5d2e07; */
    display: grid;
    grid-template-rows: 50px 1fr;
    /* grid-template-columns: 1fr 4fr; */
}

.trending-header {
    /* grid-column: 1 / 3; */
    /* padding-top: 16px;
    margin-bottom: 32px; */
}

.temp {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #f6f5f2;
    border-radius: 16px;
}

.trending-item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;

    /* border: 1px solid #5d2e07; */
    h5 {
        align-self: end;
        margin-left: 16px;
    }

    p {
        align-self: start;
        margin-left: 16px;
    }

}

.image-cropper {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 70%;
    aspect-ratio: 1 / 1;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}


.image-cropper img {

    height: 100%;
    width: 100%;
    object-fit: cover;
}

h2 {
    align-self: center;
}